# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# virtual environment
audiogeneratorenv/
src/audiobooks/config.ini
src/audiobooks/credentials.json
.gitignore
src/audiobooks/token.json

# temp audio files
*.wav
*.mp3
src/audiobooks/run_audiobook_generator.bat
